node_modules

/build
/public/build
/api
.env

/cypress/screenshots
/cypress/videos

/app/styles/dist.css

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

tsconfig.tsbuildinfo
.DS_Store

# Jetbrains IDE
vcs.xml
.idea/

